<div class="job-cat">
  <button mat-stroked-button color="primary">
    <i class="material-icons"> computer </i>Primary
  </button>
  <button mat-stroked-button color="primary">
    <i class="material-icons"> computer </i>Primary
  </button>
  <button mat-stroked-button color="primary">
    <i class="material-icons"> computer </i>Primary
  </button>
  <button mat-stroked-button color="primary">
    <i class="material-icons"> computer </i>Primary
  </button>

  <button mat-stroked-button color="primary">
    <i class="material-icons"> computer </i>Primary
  </button>

  <button mat-stroked-button color="primary">
    <i class="material-icons"> computer </i>Primary
  </button>

  <button mat-stroked-button color="primary">
    <i class="material-icons"> computer </i>Primary
  </button>

  <button mat-stroked-button color="primary">
    <i class="material-icons"> computer </i>Primary
  </button>

  <button mat-stroked-button color="primary">
    <i class="material-icons "> computer </i>Primary
  </button>
</div>
