

.job-cat{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  .mat-stroked-button{
    i{
      padding-right: 8px;
    }
    flex-basis: calc(100%/4);
    width: 200px;
    height: 50px;
    font-size: 18px;
    border-radius: 10px;
    margin: 14px;
  }
}
