.example-container{
  padding: 30px;
  border-radius: 12px;
  border: solid 1px #ebebeb;
  margin: 20px auto;
  width: 45vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
