<div class="footer">
  <div class="footer-content">
    <div class="aboutpost">
      <ul>
        <li>
         <img src="/assets/images/fb.png" alt="">
          <p>St271, #45E0, Sangkat 1, khan2, Phnom penh</p>
        </li>
        <li>
          <img src="/assets/images/fb.png" alt="">
          <p>017 577 018 <br> 011 55 22 99</p>
        </li>
        <li>
          <img src="/assets/images/fb.png" alt="">
          <p>suntekleang777@gmail.com <br>www.everyday.com</p>
        </li>
      </ul>
    </div>
    <div class="social">
      <img src="/assets/images/fb.png" alt="">
      <img src="/assets/images/fb.png" alt="">
    </div>
  </div>
</div>
<div class="dev">
  <div class="dev-content">
    <p>hh</p>
  </div>
</div>
