.header{
  height: 80px;
  width: 100vw;
  border-bottom: 1px solid $headerbgcolor;
  display: flex;
  align-items: center;
  justify-content: center;

  .header-content{
    display: flex;
    width: 90%;
    .logo{
      width: 100px;
      flex: 1;
      img{
        width: 60px;
        height: 60px;
      }
    }
    .menu{
      display: flex;
      align-items: center;
      padding-right: 20px;
    }
  }
}
